html {
    background: linear-gradient(0deg, hsla(54, 100%, 81%, 1) 0%, hsla(294, 100%, 88%, 1) 100%);
    /* background: linear-gradient(0deg, hsla(333, 37%, 46%, 1) 0%, hsla(0, 0%, 0%, 1) 100%); */
    height: 100vh;
}
.page {
    min-height: calc(100vh - 41px);
}

.header {
    height: 10vh;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

nav {
    width: 35%;
}

.navUl {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-weight: bold;
}

li {
    width: 50%;
    text-align: center;
}

li a {
    cursor: pointer;
    color: #6056f6;
}

 li a:hover, .play:hover,
 li a:focus, .play:focus {
    font-size: 1.1rem;
}

h1 {
    width: 50%;
    text-align: left;
    color: #6056f6;
}

.howToPlay {
    text-align: center;
}

.howToFlex {
    display: flex;
    flex-direction: column;
    margin: 180px auto;
    border: 2px solid #6056f6;
    border-radius: 15px;
    height:fit-content;
    width: fit-content;
}

p {
    padding: 20px 30px;
}

.play {
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    margin-top: 0px;
    background-color: #6056f6;
    padding: 10px 30px;
    border: 2px solid #6056f6;
    border-radius: 10px;
    margin-top: 10px;
    color: #FFF59C;
    font-weight: bold;
    font-family: 'Bubblegum Sans', cursive;

}

.play:hover,
.play:focus {
    cursor: pointer;
}

.btnDiv {
    height: 70px;
}

span {
    font-family: 'Bubblegum Sans', cursive;
        color: #6056f6;



}

